body{    
   
}

#content{
    display: block;
    flex-direction:  row-reverse;
    justify-content: space-around;    
    flex-wrap: wrap;     
}

.photo{
    margin: 10px 0;
    width: 120px;
    background: white;
    padding: 10px;
    opacity: 0.7;
    border-radius: 10px;
    border: 1px solid silver;
    box-sizing: border-box;
    z-index: -1;
    
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo img{    
    flex-basis: 100%;
    width: 100px;                  
}

.photo figcaption{
    margin-top: 10px;
}

.photo:hover {
    opacity: 1;
    transition: 0.3s all linear;
}




