

#content{
    margin: 0 auto;
    
}

.paralax{    
    transform: translate(-13%, 0%);

    min-height: 780px;
    min-width: 1310px;    

    background-image: url("galeria/smartphone-1284501_1920.jpg");     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#footer{
    max-width: 100%;
    /*background: url();*/
}