body{
    /* Background pattern from Subtle Patterns */
    background-image: url("img/food.png"); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 !important;        
}

#container{    
    margin-left: auto;
    margin-right: auto;   
}


#logo{    
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    /* Background pattern from Subtle Patterns */
    background-image: url("img/sativa.png"); 
    padding: 30px;
    font-family: 'Francois One', sans-serif;
    font-size: 50px;
}

.option{   
   width: 670px;
   color: white;
   display: inline-block;   
}

.option > a:hover{
   background-color: lightgrey; 
}

#navigation{ 
    text-align: center;       
    width: 100%;
    height: 52px;   
    margin-bottom: 55px;              
    /* Background pattern from Subtle Patterns */
    background-image: url("img/debut_dark.png");
    position: sticky; 
    top: 0px;   
    z-index: 100; 
}

#content{
    width: 800px;
    height: auto;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block; 
     
}

#footer{    
    text-align: center;
    padding: 20px;
    /*background-color: darkslategrey;*/
    background-color: #292c2f;
    color:  rgba(196, 186, 186, 0.925);
    
}

ol{        
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 200%;   
    display: inline-block;
}

ol > li{    
    float: left;
    color: white;
    width: 170px;
    padding: 10px 0px;
    border-right: 1px solid;               
}

ol > li:hover{
    background-color: gray; 
}

ol > li > a{
    list-style-type: none;
    text-decoration: none;
    display: block; 
    color: white;
             
} 


#li_1{
    width: 200px;    
    border-left: 1px solid;          
}

ol > li > ul{
    list-style-type: none;    
    padding: 0;
    margin: 0;    
    height: 40px;
    display: none;          
}

ol > li > ul > li{
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 100;
    border-top: 1px solid;       
}

ol > li:hover > ul{
    display: block;
} 

ol > li > ul > li:hover{
    background-color: gray;
}

ol > li > ul > li > a{
    list-style-type: none;
    text-decoration: none;
    color: white;           
}


ol > li > ul > li:hover > a{
    color: tomato; 
}



